<%
    @words = Word.all
%>

<!-- TODO:このdivを縦横画面イッパイにしたい -->
<div id="myCarousel" class="carousel slide" data-interval="false">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <% @words.each_with_index do |word, index| %>
      <div class="<%= 'active' if index == 0 %> item bg bg<%= index + 1 %>">
        <center>
          <p><h1><%= word.english %></h1></p>
          <p><input type="button" value="check!" class="btn btn-danger" onclick="answer('<%= word.japanese %>');"></input></p>
        </center>
      </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  <!--
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"><%= image_tag 'pref.png' %></a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next"><%= image_tag 'next.png' %></a>
  -->
</div>

<!-- TODO:モーダルの表示位置を設定したい -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-body">
    <div id="answer"></div>
  </div>
</div>

<script type="text/javascript">
<!--
  function answer(text) {
    $('#answer').html("<h2>" + text + "</h2>")
    $('#myModal').modal('show')
  }
-->
</script>

<style type="text/css">
<!--
  #myModal {
    color : white;
  }


html, body {
height:100%;
margin:0;
padding:0;
}
.carousel, .item, .active {
height:100%;
}
.carousel-inner {
height:100%;
}
.carousel {
margin-bottom: 60px;
}
.carousel-caption {
z-index: 10;
}
//.carousel .item {
//background-color: #777;
//}
.carousel .carousel-inner .bg {
background-repeat:no-repeat;
background-size:cover;
}
.carousel .carousel-inner .bg1 {
background-image:url(bg1.jpg);
background-position: center top;
}
.carousel .carousel-inner .bg2 {
background-image:url(bg2.jpg);
background-position: center center;
}
.carousel .carousel-inner .bg3 {
background-image:url(bg3.jpg);
background-position: center bottom;
}















-->
</style>
